<form class="form-reserva" [formGroup]="reservaForm" (ngSubmit)="onSubmit()">
  <div class="form-reserva__input">
    <label class="form-reserva-label" for="nombre">Nombre:</label>
    <input class="form-reserva__input-control" id="nombre" type="text" formControlName="nombre">
    <div class="form-reserva__input-error" *ngIf="reservaForm.get('nombre')?.invalid && reservaForm.get('nombre')?.touched">
      El nombre es requerido.
    </div>
  </div>

  <div class="form-reserva__input">
    <label class="form-reserva-label" for="identificacion">Número de Identificación:</label>
    <input class="form-reserva__input-control" id="identificacion" type="number" formControlName="identificacion">
    <div class="form-reserva__input-error" *ngIf="reservaForm.get('identificacion')?.invalid && reservaForm.get('identificacion')?.touched">
      El número de identificación es requerido y debe ser numérico.
    </div>
  </div>

  <div class="form-reserva__input">
    <label class="form-reserva-label" for="cantidad">Cantidad de Personas:</label>
    <input class="form-reserva__input-control" id="cantidad" type="number" formControlName="cantidad">
    <div class="form-reserva__input-error" *ngIf="reservaForm.get('cantidad')?.invalid && reservaForm.get('cantidad')?.touched">
      El número de personas es requerido y debe ser númerico.
    </div>
  </div>

  <div class="form-reserva__input">
    <label class="form-reserva-label" for="fechaLlegada">Fecha de Reserva:</label>
    <input class="form-reserva__input-control" id="fechaLlegada" type="date" formControlName="fechaLlegada">
    <div class="form-reserva__input-error" *ngIf="reservaForm.get('fechaLlegada')?.invalid && reservaForm.get('fechaLlegada')?.touched">
      La fecha de llegada es requerida.
    </div>
  </div>

  <div class="form-reserva__input">
    <label class="form-reserva-label" for="fechaSalida">Fecha de Salida:</label>
    <input class="form-reserva__input-control" id="fechaSalida" type="date" formControlName="fechaSalida">
    <div class="form-reserva__input-error" *ngIf="reservaForm.get('fechaSalida')?.invalid && reservaForm.get('fechaSalida')?.touched">
      La fecha de salida es requerida.
    </div>
  </div>

  <button class="form-reserva__button" type="submit">Enviar</button>
</form>
