<div class="consultar-reservas">
  <h2>Consulta de Reservas</h2>
  <div>
    <div *ngFor="let reserva of reservations" class="reserva__container">
      <div class="card" *ngIf="reserva.active != false">
        <div class="card-body" (click)="abrirModalCancelar(reserva.id)">
          <table class="reserva-table">
            <tbody>
              <tr class="reserva-table__row">
                <td class="reserva-table__field">Número de Identificación:</td>
                <td>{{ reserva.identificationNumber }}</td>
              </tr>
              <tr class="reserva-table__row" *ngIf="reserva.idReservationHotel">
                <td class="reserva-table__field">Hotel:</td>
                <td>{{ getHotelName(reserva.idReservationHotel) }}</td>
              </tr>
              <tr class="reserva-table__row" *ngIf="reserva.idReservationFlight">
                <td class="reserva-table__field">Vuelo:</td>
                <td>{{getFlightDetails(reserva.idReservationFlight)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
