.consultar-reservas {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FFFFFF;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.card-body {
  padding: 16px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  cursor: pointer; /* Cambiado para que sea consistente con el hover */
}

.reserva-table {
  width: 100%;
  border-collapse: collapse;

  &__row {
    align-items: center;
    display: flex;
    flex-wrap: wrap; /* Para asegurar que el contenido se ajuste según el tamaño */
  }

  &__field {
    font-weight: bold;
    padding-right: 10px;
    min-width: 140px; /* Ajustado para alinear el contenido correctamente */
  }

  &__value {
    flex-grow: 1; /* Para que ocupe el espacio restante */
  }
}
